* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 100;
  background-color: #fff;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: 98vh;
  background-image: url('./assets/images/mobile-header-background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2% 5%;
  /* border: 2px solid blue; */
}

.nav-bar {
  display: flex;
  justify-content: start;
  padding: 2% 5%;
  height: 10%;
  width: 100%;
}

.hamburger {
    z-index: 40;
    margin-right: 8%;
}
  
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #272a31;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
  
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
  
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #fff;
}
  
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #fff;
}
  
.menu {
    display: fixed;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: -1000%;
    height: 100vh;
    width: 100%;
    background-color: rgb(96, 112, 255, 0.7);
    z-index: 29;
    padding-top: 30%;
    transition: 0.3s;
    margin-top: 0;
    backdrop-filter: blur(8px);
}

.menu.active {
    left: 0;
}

.menu li {
    list-style: none;
}

.menu a {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
}

.headline {
  height: 80%;
  /* border: 2px solid blue; */
}

.title {
  font-size: 1rem;
  color: #ec5242;
  padding: 5% 0;
}

.sub-title {
    font-size: 2.1rem;
    color: #ec240d;
    font-weight: 800;
    line-height: 90%;
    /* line-height: 36px; */
    margin-bottom: 7%;
}

.title-description {
  color: #272a31;
  font-size: 0.9rem;
  margin-bottom: 2%;
  border: 1px solid #fff;
  padding: 6%;
  background-color: #F7F7F7;
}

.title-date {
  font-size: 1.6rem;
}

.title-venue {
  color: #272a31;
  font-size: 0.9rem;
}

.program-section {
  /* height: 100%; */
  padding: 6% 4%;
  display: flex;
  flex-direction: column;
  background-image: url('./assets/images/program-section-background.svg');
  background-color: #272a31;
  color: #fff;
}

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.program-title {
  font-size: 1.3rem;
  margin-top: 2%;
}

.main-program hr {
  background: #ec240d;
  width: 20%;
  margin: 1% 0;
  border: 1px solid #ec240d;
}

.programs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.program-item {
  display: grid;
  grid-template-columns: 2rem 5rem 2fr;
  align-items: center;
  /* justify-content: center; */
  width: 99%;
  height: 99px;
 /* width: 80%; */
  background-color: rgba(56, 58, 63, 0.8);
  padding-left: 1rem;
}

.program-name {
  font-size: 0.8rem;
  color: #ec5242;
  /* align-self: center; */
}

.program-description {
  font-size: 0.7rem;
  text-overflow: ellipsis;
}

.program-btn {
  margin: 5% 0;
  text-decoration: none;
  color: #fff;
  background-color: #ec5242;
  height: 42px;
  padding-top: 12px;
  text-align: center;
  width: 80%;
  font-size: 0.8rem;
  font-weight: bold;
}

.speaker-section {
  padding: 6% 4%;
  display: flex;
  flex-direction: column;
  height: 110%;
}

.featured-speakers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
  
.speaker-list {
 display: grid;
 grid-template-columns: 1fr;
 row-gap: 8%;
}

.speaker-title {
  font-size: 1.3rem;
  margin-top: 2%;
  }
  
.featured-speakers hr {
    background: #ec240d;
    width: 20%;
    margin: 2% 0;
    border: 1px solid #ec240d;
    margin-bottom: 7%;
  }

.speaker-details {
  display: grid;
  grid-template-columns: 4rem 1fr;
  column-gap: 2rem;
  height: 90px;
}

.speaker-img {
  position: relative;
  height: 80px;
  width: 80px;
  background-image: url('./assets/images/pattern.jpg');
  background-repeat: no-repeat;
  background-size: 70% 70%;
}

.speaker-image {
    position: absolute;
    width: 85%;
    height: 85%;
    right: 0;
    bottom: 0;
}

.speaker-name {
  font-size: 1rem;
}

.speaker-qualifications {
  font-size: 0.7rem;
  color: #ec5242;
  font-style: italic;
}

.speaker-info hr {
  background: #272a31;
  width: 20%;
  margin: 1% 0;
  border: 0.3px solid #272a31;
  margin: 4% 0;
}

.speaker-brief {
  font-size: 0.5rem;
}

.partner-footer-mobile {
    display: flex;
    flex-direction: column;
    background-color: rgba(53, 58, 64, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .partner-logos {
   display: grid;
   grid-template-columns: 33% 33% 33%;
   align-items: center;
   justify-content: center;
  }
  
  .partner-logos img {
    height: 70%;
    width: 70%;
    padding: 5%;
  } 
  
  .mobile-footer {
    padding: 10%;
  }
  
  .mobile-footer span {
    font-size: 0.7rem;
    display: block;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }

/* About Page Mobile Styles */

.about-hero-section {
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: 98vh;
  background-image: url('./assets/images/mobile-header-background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2% 5%;
}

.contact-us {
  font-size: 0.7rem;
  display: inline-block;
  /* width: 70%; */
  padding: 2% 15%;
  align-self: center;
  text-align: center;
}

.contact-email {
  font-size: 0.7rem;
  display: inline-block;
  padding: 2% 15%;
  text-decoration: underline;
  font-weight: bold;
}

.hackathon-logo {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 padding: 2% 5%;
 height: 90%;
 border-bottom: 1px solid black;
}

.hackathon-logo-title {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.hackathon-logo hr {
    background: #ec240d;
    width: 20%;
    margin: 1% 0;
    border: 1px solid #ec240d;
    margin-bottom: 1.5rem;
}

.logo-design {
  font-size: 0.7rem;
  width: 80%;
}

.hackathon-logo-img {
  /* position: absolute; */
  border: solid 1.5px black;
  width: 85%;
  height: 30%;
}

.hackathon-logo-image {
  position: relative;
  top: 50;
}

.past-event-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2% 5%;
    height: 100%;
}

.past-event-title {
      font-size: 1.3rem;
    margin-top: 1rem;
}
  
  .past-event-section hr {
      background: #ec240d;
      width: 20%;
      margin: 1% 0;
      border: 1px solid #ec240d;
      margin-bottom: 1.5rem;
  }
  
  .past-info {
    font-size: 0.7rem;
    width: 80%;
  }

.past-event-images {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 70%;
  width: 90%;
  align-items: center;
}

.past-event-images img {
  border: 1px solid black;
  height: 35%;
  width: 85%;
}